<h2>Contraption Calibration</h2>
<p>
    The contraptions are placed wherever. The calibration process helps us to determine the offset (rigid body) transformation between each pair.
    The process is as follows:
    <ol>
        <li>We place a circular shape in a location visible by all contraptions.</li>
        <li>We take a snapshot, and for each contraption find the position (x1_i, y1_i) of the circle center.</li>
        <li>
            Place the circular shape at some other location that is also visible by all contraptions<br>
            and redo the previous step to get the positions (x2_i, y2_i) of the circle center.
        </li>
        <li>For each contraption pair (i,j) find the best tranform T_ij that maps (x1_i,y1_i) to (x1_j, y1_j) and (x2_i,y2_i) to (x2_j, y2_j).</li>
    </ol>
</p>

<h3>Fit Circles</h3>

<!-- In a single line, have radius: [text input] alternativeRadius: [text input] -->
<div class="form-inline">
    <label for="radius">Radius:</label>
    <input type="number" id="radius" name="radius" value="0.15" step="0.01" min="0.01">
    <label for="alternativeRadius">Alternative Radius:</label>
    <input type="number" id="alternativeRadius" name="alternativeRadius" value="0.145" step="0.01" min="0.01">
    
    
    <!-- // Here will be a list of contraptions with checkboxes that signal whether the alternativeRadius should be used. It will be populated form JS -->
    <label for="useAlternativeRadius">Use Alternative Radius:</label>
    <div id="contraption-checkboxes">
        <!-- Checkboxes will be populated here, but an example for a label checkbox pair would be: -->
        <label><input type="checkbox" name="contraption1" value="1"> dev1 </label>
    </div>
</div>



<script src="/static/js/calibration.js"></script>