<h2>Miscellaneous</h2>

<h3>Test Createing a New Contraption</h3>

<button onclick="sendNewContraption()">Create New Contraption</button>
<div style="margin-top: 1em;">
    <textarea id="new-contraption-result" rows="4" cols="60" readonly></textarea>
</div>

<h3>Delete All Scans</h3>

<button onclick="deleteAllScans()">Delete All Scans</button>

<h3>Fetch All Recent Scans</h3>
<button onclick="fetch_all_recent_scans()">Fetch All Recent Scans</button>

<script src="/static/js/miscellaneous.js"></script>