<h2>Contraption Monitor</h2>
<p>In this dashboard you can view the satus of all contraptions, as well as preview the scan history.</p>

<div class="monitor-dashboard">

    <div class="monitor-left-panel">
    </div>

    <div class="monitor-right-panel">
        <div class="monitor-preview-control">
            <button><<</button>
            <button>>></button>

            <p class="monitor-preview-label">
                <b>12948/12948</b> 2025-07-10T18:29:13
            </p>
        </div>

        <div class="monitor-preview-container">
            <p class="monitor-no-selection-text">
                Select a contraption to preview its LiDAR scans.
            </p>
        </div>


    </div>

</div>

<script src="/static/js/monitor.js"></script>