.monitor-left-panel {
    display:inline-block;
    width: 30vw;
}
.monitor-right-panel {
    display:inline-block;
    width: 60vw;
    vertical-align: top;
}

.monitor-preview-control {
    margin: auto;
}

.monitor-no-selection-text {
    text-align: center;
}